<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Akio About</title>
    <style>
        /*Body and HTML*/
        .spacing {padding: 20px; height: 10px;}
        body, html {margin: 0; padding: 0; height: 285%; overflow-y: auto;}
        .content {position: relative;z-index: 1;color: white;text-align: center;padding: 20px;}
        /*Buttons*/
        .btn-black {background-color: black;}
        .btn-black:hover {background-color:white; color:black}
        .btn-red { border-color: red; color: white; animation: pulse 1s infinite;}
        .btn-red:hover { background-color: red; }
        /*Image*/
        .image-pics { display: flex; justify-content: center; gap: 80px; margin-top: 70px; }
        .image-pics img { width: 500px; cursor:none;}
        /*background-color*/
        .bg-red {background-color: red;}
        .bg-black {background-color: black;}
        /*Fonts*/
        h1 {font-size: 80px;}
        .game-text {font-family: Game;}
        .techno-text {font-family: techno;}
        @font-face {
            font-family: Techno;
            src: url('../fonts/Techno.ttf');
        }
        @font-face {
            font-family: Game;
            src: url('../fonts/GAME_glm.ttf');
        }
        /*Particle-background*/
        #particles-js { position: absolute; width: 100%; height:820%; background-color: black; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
        .count-particles { background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: 0.8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; }
        .js-count-particles { font-size: 1.1em; }
        #stats, .count-particles { margin-top: 5px; margin-left: 5px; }
        /*cursor*/
        .no_cursor {cursor: none;}
        .cursor {position: fixed;width: 30px;height: 30px;border: 3px solid rgba(245, 245, 245, 0.8);border-radius: 50%;background: rgba(245, 245, 245, 0.1);pointer-events: none;mix-blend-mode: difference;z-index: 9999;transition: transform 0.15s ease;}
    </style>
</head>
<body>

    <div id="particles-js" class="no_cursor"></div>
    <div class="cursor"></div>
    <div class="no_cursor" id=title>
        <%- include('partials/navbar') %>
        <h1 class="d-flex justify-content-center align-items-center no_cursor game-text" style="position: relative;">About Me</h1>
    </div>
    <br><br>

    <div class="container d-flex justify-content-center align-items-center no_cursor" style="position: relative;">
        <div class="row col-md-10">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="card-title text-center game-text">Who Am I?</h2>
                <p class="techno-text card-body">
                    Hey There! My name is Akio and I am a Year 3 student studying the diploma of Digital Design and Development or DAAA for short at Republic Polytechnic.
                    I am currently having my internship and interning at CTC Global.  
                    I am born and raised in Singapore and my ethicity is chinese. 
                    <br><br>
                    "Enjoy the little things in life, be it in despair or in excitement." this quote is what I believed in in life and how I continue to strive my best in life.
                    This is my Portfolio where you can find out what I do in Republic Polytechnic.
                </p>
                <br><br><br>
                <h2 class="text-center game-text"> What do I like doing?</h2>
                <p class="techno-text card-body">
                    I have tons of things that I love doing!
                    However, if I were to choose 3 things that I enjoy doing the most it would be 
                    <ul class="techno-text">
                        <li>Volleyball</li>
                        <li>Gaming</li>
                        <li>Playing Guitar</li>
                    </ul>
                    <br><br>
                    <h3 class="techno-text"><b>Playing Volleyball:</b></h3>
                    <p class="techno-text">
                     For me, it always gives me the passion to drive harder and harder. 
                    <br><br>I started playing volleyball as my hobby when i was 13 years old. 
                    <br><br>And since then, I never regret taking up the sport and play as my hobby.
                    <br><br>I wanted to join volleyball in my secondary school but I was given to join concert band.
                    <br><br>I also tried to join in RP but they rejected me but that never stop me from playing volleyball.
                    <br><br>Even now in school, i will always play during my free time.
                    </p>
                    <br>
                    <h3 class="techno-text"><b>Gaming:</b></h3>
                    <p class="techno-text">
                    Gaming is also one of things I love to do. 
                    <br><br>Although the only few games i play are like Mobile Legends, Honor of kings, Super Mecha Champions but I still love gaming.
                    <br><br>In fact, my team and I participated in a competition held in Campus Game Festival on the 26 and 27 of October.
                    <br><br>Even though we didnt win and we ended up on the 8th place in the loser bracket, it was still a good experince.
                    <br><br>I am also hoping to join a professional squad in Mobile Legends in the future as part of my job. 
                    </p>
                    <br>
                    <h3 class="techno-text"><b>Playing Guitar:</b></h3>
                    <p class="techno-text">
                    Playing Guitar was something that I picked up recently around 6 of October but ever since I picked it up, I have been hooked through out the holidays.
                    <br><br>Do you know the number of songs you can learn and play on the guitar? I also don't know!
                    <br><br>However, that's why everyone learns and plays. 
                    <br><br>When I started playing the guitar, my friend support me in every way possible and teach me what I should learn and do.
                    </p>
                    <br>
                    <h3 class="techno-text"><b>Summary:</b></h3>
                    <p class="techno-text">
                    So this are the 3 things I love doing the most!
                    </p>
                </p>
                <br><br><br><br><br><br>
                <h2 class="text-center game-text"> What are your skills?</h2>
                <p class="techno-text card-body">
                      Through this diploma, I learn different kinds of skills but to narrow down the two important skills learn, it will be development and design.
                      <br><br>However, I would say that I am more of a developer person as I would prefer to code and learn the many things of coding then to design.
                      <br><br>But dont get me wrong, I do love designing too!
                      <br>
                      The other skills that I learnt would be like:
                      <ul class="techno-text">
                        <li>teamwork skills,</li>
                        <li> public speaking,</li>
                        <li>problem solving,</li>
                        <li>and adaptability</li>
                      </ul> 
                      <br><br>
                      <p class="techno-text card-body">
                        On top of all these skills, there are also technical skills that I have learn through D3D.
                        Some of them are:
                      </p> 
                      <ul class="techno-text">
                        <li>Coding using Java, Python, React (Beginner Level),</li>
                        <li>Designing using Adobe Illustrator, Photoshop, Figma, Canva (Beginner Level),</li>
                        <li>VR game designing using Unity (Beginner Level)</li>
                      </ul>
                      
                      <p class="techno-text card-body">
                        These are some of the technical skills learned in Digital Design and Development
                      </p>
                </p>
                <br><br>
                <p class="techno-text card-body">
                    There are other skills that i have learn through experiences and time and those are:
                    <ul class="techno-text">
                        <li>Editing using Capcut, Adobe Premier Pro, Imovie (Beginner Level - Advance Level) *[Adobe Premier still beginner],</li>
                        <li>Camare filming videos (Beginner Level)</li>
                        <li>Content Creation in tiktok @aj.spillz (Beginner Level)</li>
                    </ul>
                    <p class="techno-text card-body">
                        These are some of the other skills I learn through my life as i would want to be a content creator someday.
                    </p>
                </p>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <img src="AboutMe2.jpg" alt="Me" class="img-fluid mb-3" style="max-width: 100%;">
                <img src="campus.jpg" alt="Campus" class="img-fluid" style="max-width: 100%;">
                <img src="Codingimage.jpg" alt="Campus" class="img-fluid" style="max-width: 100%;">
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container d-flex justify-content-center align-items-center no_cursor" style="position: relative;">
        <div class="row col-md-10">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <img src="Volunteery.jpg" alt="Me" class="img-fluid mb-3" style="max-width: 100%;">
                <img src="Secband.jpg" alt="Me" class="img-fluid mb-3" style="max-width: 100%;">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="card-title text-center game-text">What are my Achievements, Volunteery Work, Services & leaderships that I have or done?</h2>
                <br><br><br>
                <p class="techno-text card-body">
                    I have participated in different times of volunteery work and got different achievements in my life and here are some of the listed few below:
                    <br><br>
                    <h4 class="game-text">Achievements & Volunteering work:</h4>
                    <ul class="techno-text">
                        <li>Year: 2015, Joined Soka YMD Gym core.</li>
                        <li>Year: 2020, volunteered and helped out with the elderly shelter.</li>
                        <li>Year: 2021, participated in Singapore Youth Festival(SYF) with my CCA Concert Band, got certificate of achievement.</li>
                        <li>Year: 2021, did up a VIA project that helped promote children 12 and under on recycling.</li>
                        <li>Year: 2024, was a orientation peer support leader which helped with the year 1 for the school.</li>
                        <li>Year: 2024, participated in HUAWEI mobile design competition.</li>
                        <li>Year: 2024, participated in NDP 2024 representing for SOKA.</li>
                    </ul>
                    <br>
                </p>
                <p class=" techno-text card-body">
                    I also had different leadership roles in my life and these are the roles that I have taken:
                    <br><br><br>    
                    <h4 class="game-text">Leadership Roles:</h4>
                    <ul class="techno-text">
                        <li>Year: 2019, Role: Chairperson of my sec 1 class</li>
                        <li>Year: 2020, Role: Student Leader in the student council</li>
                        <li>Year: 2020, Role: String bass Section Leader in Concert Band</li>
                        <li>Year: 2021, Role: Concert band CCA Leader</li>
                        <li>Year: 2024, Role: Right-Hand man in charge of Esports Mobile Legends section</li>
                        <li>Year: 2024, Role: 2nd Safety commissioner in Esports CCA</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class="card justify-content-center container-fluid bg-orange no_cursor" style="width:700px; height:1000px">
        <div>
            <h2 class="card-title text-center techno-text">Below here displays my Resume, Cover Letter(CL) and Personality report tested using high5test</h2>
        </div>
        <div class="d-flex justify-content-center">
            <img class="image-pics no_cursor"  src="document.jpeg" alt="Card image">
        </div>
        <div class="card-body no_cursor">
          <h3 class="card-title d-flex justify-content-center gtechno-text">This is my Resume</h3>
          <p class="card-text d-flex justify-content-center">
            <a href="/pdf/Resume.pdf" id="download-link" class="btn btn-black download-link no_cursor test-link segosc-text" download="Resume.pdf">Download Resume</a>
          </p>
          <br><h3 class="card-title d-flex justify-content-center techno-text">This is my Cover Letter</h3>
          <p class="card-text d-flex justify-content-center">
            <a href="/pdf/CoverLetter.pdf" id="download-link" class=" btn btn-black download-link no_cursor test-link segosc-text" download="CoverLetter.pdf">Download CoverLetter</a>
          </p>
          <br><h3 class="card-title d-flex justify-content-center techno-text">This is my Personal Report</h3>
          <h3 class="card-title d-flex justify-content-center techno-text">Tested using high5test</h3>
          <p class="card-text d-flex justify-content-center">
            <a href="/pdf/AkioTan-PersonalReport.pdf" id="download-link" class=" btn btn-black download-link no_cursor test-link segosc-text" download="Akio's Personal Report.pdf">Download Personal Report</a>
        </div>
        <a href="#title" class="btn btn-red no_cursor test-link techno-text">Back to the top</a>
    </div>
    <br><br>
    
    <script>
        document.getElementById('download-link').addEventListener('click', function() {
            alert("Your document is downloading!");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://threejs.org/examples/js/libs/stats.min.js"></script> 
    <script>
        particlesJS("particles-js", {
            "particles": {
                "number": { "value": 100, "density": { "enable": true, "value_area": 800 }},
                "color": { "value": ['#800080', '#8B0000', '#FFA500' ]},
                "shape": { "type": "image", "stroke": { "width": 0, "color": "#000000" }, "polygon": { "nb_sides": 5 },
                "image": {"src":"Gamerlogo.png","width":100,"height":100}},    
                "opacity": { "value": 1, "random": true, "anim": { "enable": false, "speed": 1, "opacity_min": 0.1, "sync": false }},
                "size": { "value": 15, "random": true, "anim": { "enable": false, "speed": 40, "size_min": 0.1, "sync": false }},
                "line_linked": { "enable": false, "distance": 500, "color": "#ffffff", "opacity": 0.4, "width": 2 },
                "move": { "enable": true, "speed": 0.5, "direction": "random", "random": false, "straight": false, "out_mode": "out", "bounce": false, "attract": { "enable": false, "rotateX": 600, "rotateY": 1200 }}
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": { "onhover": { "enable": true, "mode": "bubble" }, "onclick": { "enable": true, "mode": "repulse" }, "resize": true },
                "modes": { "grab": { "distance": 400, "line_linked": { "opacity": 0.5 }}, "bubble": { "distance": 400, "size": 4, "duration": 0.3, "opacity": 1, "speed": 3 }, "repulse": { "distance": 200, "duration": 0.4 }, "push": { "particles_nb": 4 }, "remove": { "particles_nb": 2 }}
            },
            "retina_detect": true
        });

        var count_particles, stats, update;
        stats = new Stats();
        stats.setMode(0);
        stats.domElement.style.position = 'absolute';
        stats.domElement.style.left = '0px';
        stats.domElement.style.top = '0px';
        document.body.appendChild(stats.domElement);
        count_particles = document.querySelector('.js-count-particles');
        update = function() {
            stats.begin();
            stats.end();
            if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
                count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
            }
            requestAnimationFrame(update);
        };
        requestAnimationFrame(update);
    </script>
    <script src="/js/cursor.js"></script>
</body>
</html>